/* Write your global styles here, in SCSS syntax. Variables and mixins from the src/variables.scss file are available here without importing */
@import 'bootstrap';

body {
	position: relative;
	max-width: 100vw;
	min-height: 100vh;
	overflow-x: hidden;
	display: flex;
	flex-direction: column;
}

body > main {
	flex: 1;
	position: relative;
	overflow-x: hidden;
	display: flex;
	flex-direction: column;
}

.page-center {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.page {
	flex: 1;
	display: flex;
	flex-direction: column;
}
